{{- if eq .hosttype "work" "private" "full"}}
{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -euo pipefail

if [ -d ~/bin ]; then
  mkdir -p ~/.local/bin
  cp -r ~/bin/* ~/.local/bin/
  rm -rf ~/bin
fi

{{- end }}
{{- end }}
