[".config/oh-my-bash"]
  type = "git-repo"
  url = "https://github.com/ohmybash/oh-my-bash.git"
  krefreshPeriod = "168h"

[".config/oh-my-bash-custom/plugins/fzf-bash-completion/fzf-bash-completion.sh"]
  type = "file"
  url = "https://raw.githubusercontent.com/lincheney/fzf-tab-completion/refs/heads/master/bash/fzf-bash-completion.sh"
  refreshPeriod = "168h"
