{{ if eq .hosttype "full" "work" "external-work" "private" }}
    {{ if eq .chezmoi.os "linux" }}

[".config/oh-my-bash"]
  type = "git-repo"
  url = "https://github.com/ohmybash/oh-my-bash.git"
  krefreshPeriod = "168h"

[".config/oh-my-bash-custom/plugins/fzf-bash-completion/fzf-bash-completion.sh"]
  type = "file"
  url = "https://raw.githubusercontent.com/lincheney/fzf-tab-completion/refs/heads/master/bash/fzf-bash-completion.sh"
  refreshPeriod = "168h"

{{ if eq .chezmoi.arch "amd64" }}
[".local/lib/nvim.appimage"]
  type = "file"
  url = "https://github.com/neovim/neovim/releases/download/v0.11.4/nvim-linux-x86_64.appimage"
  refreshPeriod = "672h"
{{ end }}

{{ if eq .hyprland "true" }}
[".local/share/fonts/0xproto"]
  type = "archive"
  url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/0xProto.zip"
  exact = true
  refreshPeriod = "672h"
  include = ["*.ttf"]

[".local/lib/autotiling"]
  type = "archive"
  url = "https://github.com/nwg-piotr/autotiling/archive/refs/tags/v1.9.3.zip"
  stripComponents = 2
  exact = true
  refreshPeriod = "672h"
  include = ["**/main.py"]
{{ end }}
  
    {{ end }}
{{ end }}

{{ if eq .hosttype "work" "private" }}

{{ end }}
