export TERM="xterm-256color"
export GITHUB_USERNAME="PascalKont"

alias setup_epel='sudo subscription-manager repos --enable codeready-builder-for-rhel-9-$(arch)-rpms && sudo dnf install https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm'

alias ls='lsd'
alias la='ls -alh --color=auto'
alias l='la'

if command -v nvim &>/dev/null; then
	alias vim=nvim
fi
alias vi=vim
#alias v=vi

v() {
  if [[ $1 == "" ]]; then
    vi .
  else
    vi "$@"
  fi
}

alias czap='chezmoi apply'
alias aliasconf='chezmoi edit --apply ~/.config/oh-my-bash-custom/aliases/custom.aliases.bash; src'
alias swayconf='chezmoi edit --apply ~/.config/sway/config; src'
alias ohsconf='chezmoi edit --apply ~/.config/oh-my-bash/; src'
alias bashrc='chezmoi edit --apply ~/.bashrc; src'

alias tre='/usr/bin/tree -pugAC -L 2'
alias tree='/usr/bin/tree -pugAC -L 4'
alias treee='/usr/bin/tree -pugAC'
