PREFIX="{HOME}/.local"
export HOMEBREW_PREFIX="$PREFIX"
export HOMEBREW_CELLAR="$PREFIX/Cellar"
export HOMEBREW_REPOSITORY="$PREFIX/Homebrew"
export HOMEBREW_CASK_OPTS='${HOME}/Applications'
export PATH="$PREFIX/bin:$PREFIX/sbin${PATH+:$PATH}"
export MANPATH="$PREFIX/share/man${MANPATH+:$MANPATH}:"
export INFOPATH="$PREFIX/share/info:${INFOPATH:-}"
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_ENV_HINTS=1 #fi Most settings are ignored if modified and are listed here for completeness only. Thanks to Casey Morton for the tip regarding $HOMEBREW_CASK_OPTS!

if type brew &>/dev/null; then
  HOMEBREW_PREFIX="$(brew --prefix)"
  if [[ -r "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh" ]]; then
    source "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh"
  else
    for COMPLETION in "${HOMEBREW_PREFIX}/etc/bash_completion.d/"*; do
      [[ -r "${COMPLETION}" ]] && source "${COMPLETION}"
    done
  fi
fi

complete -C /usr/bin/vault vault
source ~/.vaultrc
source ~/.awxrc
